{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'homepage/css/homestyle.css' %}" type="text/css">
    </head>
    <body class="color mt-5">
        <div class="container-fluid">
            <div class="row h-25">
                <div class=" col-sm-12 text-center text-lg-right">
                    <button type="button" class="btn btn-danger btn-lg color wordFont" onclick="location.href = '/';">Home</button>
                    <button type="button" class="btn btn-danger btn-lg color wordFont" onclick="location.href = '/blog';">Blog</button>
                    <button type="button" class="btn btn-danger btn-lg color wordFont" onclick="location.href = '/form';">Form</button>
                    <button type="button" class="btn btn-danger btn-lg color wordFont" onclick="location.href = '/form/jadwal';">Agenda</button>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
