{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid ">

        <div class="row h-25">
            <div class="d-flex flex-md-column col-sm-5 order-md-2 justify-content-center ">
                <div class="text-center">
                    <div>
                        <!-- https://preview.ibb.co/n15yp9/Pic.jpg -->
                        <img src="https://preview.ibb.co/n15yp9/Pic.jpg " id="pic" class="img-fluid rounded-circle align-middle" width="50%" ><img>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 order-md-1 text-center wordFont">
                <h1 class="align-bottom font-weight-bold">Hello There!</h1>
                <h2 class="align-bottom font-weight-bold">The Name's Farras</h2>

            </div>

        </div>
</div>
{% endblock %}




