{% extends "base.html" %}

{% block title %}Agenda{% endblock %}

{% block content %}
<div class="container-fluid">
    <p>Your Agenda</p>
    {% if agenda %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Hari</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Waktu</th>
                <th scope="col">Agenda</th>
                <th scope="col">Kategori</th>
                <th scope="col">Tempat</th>
            </tr>
        </thead>
        <tbody>

            {% for agenda in agenda %}
                <tr>
                    <td>{{agenda.tanggal|date:"l"}}</td>
                    <td>{{agenda.tanggal}}</td>
                    <td>{{agenda.waktu}}</td>
                    <td>{{agenda.agenda}}</td>
                    <td>{{agenda.kategori}}</td>
                    <td>{{agenda.tempat}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
        <p>No Agenda Available</p>
    {% endif %}
    <form action="/form/jadwal/delete_dis">
        <input class="btn btn-danger" type="submit" value="Clear Agenda">
    </form>
</div>
{% endblock %}
