{% extends "base.html" %}

{% block title %}Form{% endblock %}

{% block content %}
<div class="container-fluid">

        <form class="text-center" method="post"> {% csrf_token %}
            <div class="row">
                <div class="col-sm-4 text-sm-right">
                    <label>{{form.agenda.label}} :</label>
                </div>
                <div class="col-sm-8">
                    {{form.agenda}}
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4 text-sm-right">
                    <label >{{form.kategori.label}} :</label>

                </div>
                <div class="col-sm-8">
                    {{form.kategori}}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-sm-right">
                    <label >{{form.tempat.label}} :</label>

                </div>
                <div class="col-sm-8">
                    {{form.tempat}}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-sm-right">
                    <label >{{form.tanggal.label}} :</label>

                </div>
                <div class="col-sm-8">
                    {{form.tanggal}}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-sm-right">
                    <label >{{form.waktu.label}} :</label>

                </div>
                <div class="col-sm-8">
                    {{form.waktu}}

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-sm-right">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </div>

        </form>

</div>
{% endblock %}
